
body{
    margin:0px;
}
.top{
height:60%;
width:100%;
background-color:black;
}

.bottom{

    height:40%;
    width:100%;

}
.topRow{
    position:absolute;
    width:100%;
    height:10%;
    display:flex;
    flex-direction: row;   
}
.topRound{
    width:20%;
    height:100%;
    overflow: hidden;
}

.roundInner{
    background-color: rgb(106, 42, 64);
    border-radius: 50%;
    border-bottom: solid rgb(54, 24, 24) 1px;
    position:relative;

}

.roundInner:nth-child(1){
    height:200%;
    top:-100%;
    position:relative;

}
.roundInner:nth-child(2){
    height:100%;
    top:-250%;

    
}
.roundInner:nth-child(3){
    height:50%;
    top:-325%;

    
}
.roundInner:nth-child(4){
       height:25%;
    top:-362.5%;

    
}

.curtainContainer{
    width:100%;
    position:absolute;
    /* background-color: rgba(255, 0, 0, 0.35); */
    height:78%;
    display:flex;
    flex-direction: row;
    

}

.curtainLeft{
width:50%;
/* background-color: aqua; */
}

.curtainRight{
width:50%;
/* background-color: antiquewhite; */
}


.topPanel{
    width: 100%;
    display: flex;
    flex-direction: row;
    height:80%;


    overflow: hidden;
    border-radius: 0 0 50% 50%;

}

.floorBoard{
    width:5%;
    height:100%;
    background-color: rgb(88, 36, 36);
    border:1px solid rgb(29, 11, 8);
}

.bottom{
    background-color: rgb(46, 15, 15);
}

.curtain{
    transition: transform .4s;
}

.curtainRight .firstCurtain{
width:26% ! important;
left:75% ! important;
}
.curtainRight .curtain{
    position:relative;
    height:100%;
    background-color: rgb(106, 42, 64);
    border: solid rgb(54, 24, 24) 1px;
    border-top:none;
    width:100%;
    right:100%;
    top:1px;
}

.curtainLeft .firstCurtain{
width:26% ! important;
left:0% ! important;
}
.curtainLeft .curtain{
    position:relative;
    height:100%;
    background-color: rgb(106, 42, 64);
    border: solid rgb(54, 24, 24) 1px;
    border-top:none;
    width:100%;
    left:100%;
    top:1px;
}

.closedCurtainLeft{
    transform:translateX(-100%)
}

.closedCurtainRight{
    transform:translateX(100%)
}

.pully{
    height:80%;
    top:-10%;
    width:30px;
    position:absolute;
    border:rgb(140, 136, 124) solid 3px;
    border-radius:15px;
    left:calc(100% - 70px);
}

.pullyWheel{
    top:calc(100% - 25px);
    height:25px;
    width:25px;
    border-radius:12.5px;
    border:5px rgb(71, 82, 28) dashed;
    background-color: aliceblue;
    position:relative;
}


.rotateWheel{
    animation:rotateWheel linear 1s infinite
}

@keyframes rotateWheel {
    0%{ transform:rotate(0deg)}
    50%{
        transform:rotate(180deg)
    }
    100%{transform:rotate(360deg)}
    
}

.Tcard{
    position:absolute;
    height:300px;
    width:150px;
    border-radius:12px;
    background-color:blue;
    transform-origin: bottom;
    border:5px whitesmoke solid;
    left:calc(50% - 75px);
    top:calc(40% - 150px);
}

.Tcard:hover{
    top:calc(40% - 170px);

    height:320px;
    width:160px;
}

.cardRemoved{
    animation: cardRemove .3s both; 
}

@keyframes cardRemove {
    0%{    height:320px;
    width:160px;
    opacity: 100%;}
    100%{
    top:calc(40% - 190px);

        height:340px;
    width:170px;
    opacity: 5%;
    }
    
}

.TcardShow{
    position:relative;
    height:300px;
    width:150px;
    border-radius:12px;
    background-color:rgb(166, 166, 202);
    transform-origin: center;
    border:5px rgb(162, 139, 139) solid;
        animation:topDrop .5s both;
        pointer-events: all;


}

.TcardShowRow{
    width:100%;
    position:absolute;
    top:40%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    pointer-events: none;
}

@keyframes topDrop {
    0%{left:-200px}
    100%{left:0px}
    
}

.inputRow{
    width:100%;
    top:30%;
    display:flex;
    position:absolute;
}

.queryInput{
    width:80%;
    height:50px;
    margin:auto;
    position:relative;
    padding:20px;
}

